.globe-and-scroll-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    align-items: start; 
    margin: 20px auto; 
    width: 1200px;
    margin: auto;
    overflow: hidden;
  }
  
  .abt-h1-p-h4{
    width: 1200px;
    margin: auto;
  }

  .abt-h1 {
    font-size: 90px;
    color: #24262f;
  }

  .abt-span {
    color: #522258;
  }
  
  .abt-h4 {
    font-size: 24px;
    color: #24262f;
  }

  .abt-p{
    font-size: 24px;
    color: #4e525a;
  }


  
  #scroll-container {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 27px;
    overflow: hidden;
    width: 100%; 
    max-width: 400px;
    position: relative;
  }
  
  .scroll-row {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 10px 0;
  }
  
  .scroll-row-left {
    animation: scroll-left-to-right 30s linear infinite;
  }
  
  .scroll-row-right {
    animation: scroll-right-to-left 30s linear infinite;
  }
  
  .scroll-text {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 10px;
  }
  
  .star-icon {
    color: #522258;
    font-size: 20px;
    margin: 0 10px;
  }
  
  
  @keyframes scroll-left-to-right {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  
  
  @keyframes scroll-right-to-left {
    0% {
      transform: translateX(-100%); 
    }
    100% {
      transform: translateX(100%); 
    }
  } 

  