.sticky-slider__container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  position: relative;
}

.sticky-slider__title {
  font-size: 56px;
  color: #24262f;
  margin-bottom: 30px;
  text-align: center;
}

.sticky-slider__titleDot {
  color: #592228;
}

.sticky-slider__tabsContainer {
  display: flex;
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.sticky-slider__tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  color: #000;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}

.sticky-slider__tab:hover {
  background: rgba(102, 177, 241, 0.8);
  color: white;
}

.sticky-slider__tabSlider {
  position: absolute;
  bottom: 0;
  height: 4px;
  background: #66b1f1;
  transition: left 0.3s, width 0.3s;
}

.sticky-slider__main {
  padding: 20px;
}

.sticky-slider__slide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}

.sticky-slider__slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}

.sticky-slider__slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}
