.sticky-slider__container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  position: relative;
}

/* Title Styling */
.sticky-slider__title {
  font-size: 56px;
  color: #24262f;
  margin-bottom: 30px;
  text-align: left;
}

.sticky-slider__titleDot {
  color: #522258;
}

/* Tab Container - Make it sticky when in view */
.sticky-slider__tabsContainer {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: 100%;
  flex-wrap: nowrap;
  transition: position 0.3s ease; /* Smooth transition for position change */
}

/* This class will be added dynamically when we want the tabs to become fixed */
.sticky-slider__tabsContainer.fixed {
  position: fixed; /* Fixed at the top */
  top: 0;
  left: 0;
  padding: 10px 0;
  width: 90%;
  margin-left: 66px;
}

/* Tab Styles */
.sticky-slider__tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  color: #000;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}

.sticky-slider__tab:hover {
  background: #634367;
  color: white;
}

.sticky-slider__tabSlider {
  position: absolute;
  bottom: 0;
  height: 4px;
  background: #522258;
  transition: left 0.3s, width 0.3s;
}

/* Main Content Styling */
.sticky-slider__main {
  padding: 100px 20px 20px; /* Add padding top to account for fixed tabs */
}

.sticky-slider__slide {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  text-align: center;
  padding: 40px 2em;
  margin-bottom: 20px;
}

.sticky-slider__slide h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.sticky-slider__slide h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #777;
  opacity: 0.8;
}

.sticky-slider__slide p {
  font-size: 1rem;
  color: #555;
  max-width: 800px;
  line-height: 1.6;
}

/* Active Tab Style */
.sticky-slider__tab.active {
  color: #fff;
  background-color: #522258;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .sticky-slider__container {
    width: 85%; /* Reduce width for smaller screens */
  }

  .sticky-slider__slide {
    min-height: 50vh; /* Adjust slide height for mobile */
  }

  .sticky-slider__tabsContainer.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 90%;
    margin-left: 20px;
    flex-wrap: nowrap;
  }
}
