.experience-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  width: 1200px;
}

.experience-container {
  display: flex;
}

.sidebar {
  width: 200px;
  margin-right: 20px;
  position: relative;
}

.scrollbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px; 
  height: 100%;
  background-color: rgb(170, 145, 170); 
}

.sidebar-link {
  padding: 10px;
  cursor: pointer;
  color: #555;
  transition: color 0.3s ease;
  position: relative;
  margin-left: 10px; 
  font-size: 22px;
}

.sidebar-link.active {
  color: purple;
  font-weight: bold;
}

.sidebar-link.active::before {
  content: '';
  position: absolute;
  left: -10px; 
  width: 4px; 
  height: 100%;
  background-color: purple; 
}

.experience-details {
  flex-grow: 1;
}

.experience-details h3 {
  color: purple;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: -10px;
}

.exp-h2{
  font-size: 56px;
  color: #24262f;

}

.exp-ul {
  list-style-type: none;
  padding: 0;
}

.exp-p {
  font-size: 13px;
  margin-bottom: 20px;
  font-weight: 200;
}

.exp-li {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #4e525a;
  letter-spacing: 0.5px;
}

  /* Media Queries */

@media (min-width: 769px) and (max-width: 1278px) {
  .experience-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .experience-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    width: 80%;
  }

  .exp-p {
    font-size: 8px;
    margin-bottom: 20px;
    font-weight: 200;
  }
  
  .exp-li {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: #4e525a;
    letter-spacing: 0.2px;
  }

  .exp-h2{
    font-size: 40px;
    color: #24262f;
  }
  .sidebar {
    width: 100px;
    margin-right: 20px;
    position: relative;
  }
  .scrollbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 4px; 
    height: 100%;
  }
  .sidebar-link {
    padding: 10px;
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease;
    position: relative;
    margin-left: 10px; 
    font-size: 15px;
  }
}