/* Footer container styling */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-rows: 1fr 1fr; /* Two equal rows */
  padding: 20px 40px;
  max-width: 1200px;
  margin: auto;
  height: 150px; /* Adjust as needed */
  position: relative; /* Ensures the positioning is relative to the footer */
}

/* Positioning items in the footer */
.footer-nav {
  grid-column: 1 / 2; /* First column */
  grid-row: 1 / 2; /* First row */
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}

.social-icons {
  grid-column: 2 / 3; /* Second column */
  grid-row: 1 / 2; /* First row */
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.cta-footer {
  grid-column: 1 / 2; /* First column */
  grid-row: 2 / 3; /* Second row */
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 800px;
  margin-top: 15px;
}

.footer-copy {
  grid-column: 2 / 3; /* Second column */
  grid-row: 2 / 3; /* Second row */
  text-align: center;
  font-size: 14px;
  color: #777;
  padding-top: 79px;
  margin-left: 30px;
}

/* Link styling */
.footer-link {
  text-decoration: none;
  color: #333; /* Darker color for the links */
  font-size: 18px;
  font-weight: 500;
  color: #4E525a;

}

.footer-link:hover {
  color: #522258;
}

/* Social icon styling */
.social-icon {
  color: #333;
  font-size: 18px;
}

.social-icon:hover {
  color: #522258;
}

.footer-copy-p {
  margin-bottom: 15px;
}
