.globe {
  cursor: move;
  width: 730px;
  display: block;
  /* margin: 0 auto; */
  padding: 10px 0px;
  /* height: 280px; */
}

.globe-main {
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 250px;
}

@media (max-width: 768px) {
  .globe-main {
    background-color: #e0e0e0;
    border-radius: 0px;
    height: 235px;
  }
  .globe {
  cursor: move;
  width: 250px;
  display: block;
  margin: -43px auto;
  padding: 10px 0px;

  
}
}