.globe {
  cursor: move;
  width: 730px;
  display: block;
  /* margin: 0 auto; */
  padding: 10px 0px;
  /* height: 280px; */
}

.globe-main {
  background-color: #b3b3b3;
  border-radius: 10px;
  height: 250px;
}

