/* src/styles/HeroSection.css */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
  }
  
  .frontend {
    color: #522258;
    font-weight: bold;
  }
  .hero-content {
    max-width: 60%;
    font-size: 14px;
  }
  .hero-content h2{
    margin-top: 100px;
    margin-bottom: -80px;
    max-width: 60%;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: -2px;
    color: #4E525a;
  }
  
  .hero-content h1 {
    letter-spacing: -2.9px;
    font-size: 90px;
    color: #24262F; 
    font-weight: bold;
    line-height: 1;
    margin-bottom: 50px;
  }
  
  .hero-content p {
    margin-top: -20px;
    font-size: 24px;
    font-weight: 300;
    color: #4e525a;
  }
  
  .hero-image img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
  
    /* Media Queries */


    @media (min-width: 769px) {
      .hero-section {
        flex-direction: column; 
      }
    
      .hero-content {
        margin-bottom: 20px; 
      }
    
      .hero-image {
        margin: 0; 
      }
    }