
.hero-section {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 40px;
  width: 1200px;
  margin: auto;
}

.hero-content {
  max-width: 60%;
}

.hero-content h2 {
  margin-top: 100px;
  margin-bottom: -80px;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: -2px;
  color: #4e525a;
}

.hero-content h1 {
  letter-spacing: -2.9px;
  font-size: 90px;
  color: #24262f;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 50px;
}

.hero-content p {
  margin-top: -20px;
  font-size: 24px;
  font-weight: 300;
  color: #4e525a;
}

.hero-image {
  margin-left: 20px; /* Adds space between the text and the image */
}

.hero-image img {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  object-fit: cover;
}


@media (min-width: 769px) and (max-width: 1280px) {
  .hero-section {
    flex-direction: column; /* Stacks the text and image vertically */
    text-align: center; /* Centers the content */
    width: 800px;
    margin: auto;
  }

  .hero-content {
    max-width: 100%; /* Expands the text width */
    text-align: left;
  }

  .hero-image {
    margin: 20px 0; /* Adds spacing between the text and image */
  }

  .hero-image img {
    width: 250px;
    height: 250px; /* Reduces image size on smaller screens */
  }

  .hero-content h1 {
    letter-spacing: -2.9px;
    font-size: 50px;
    color: #24262f;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 50px;
  }

  .hero-content h2 {
    margin-top: 100px;
    margin-bottom: -80px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -2px;
    color: #4e525a;
  }
  
  .hero-content p {
    margin-top: -20px;
    font-size: 20px;
    font-weight: 300;
    color: #4e525a;
  }

}



@media (max-width: 768px) {

  .hero-section {
    flex-direction: column; 
    text-align: center; 
    width: 80%;
    margin: auto;
  }

  .hero-content {
    max-width: 90%; /* Expands the text width */
    text-align: left;
  }

  .hero-image {
    margin: 30px 0; 
    margin-right: 50px;
    /* transform: scaleX(-1); */
  }

  .hero-image img {
    width: 250px;
    height: 250px; /* Reduces image size on smaller screens */
  }

  .hero-content h1 {
    letter-spacing: -2.9px;
    font-size: 45px;
    color: #24262f;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
  }

  .hero-content h2 {
    margin-top: 25px;
    margin-bottom: -33px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -2px;
    color: #4e525a;
  }
  
  .hero-content p {
    margin-top: -20px;
    font-size: 16px;
    font-weight: 300;
    color: #4e525a;
  }

  .cta-mobile {
    margin: auto;
  }
}
