
.project-card {
    /* background-color: white; */
    /* padding: 20px; */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* text-align: center; */
  }
  
  .projects-image {
    width: 100%;
    margin-bottom: 15px;
    height: 315px !important;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .project-card h3 {
    font-size: 24px;
    color: #522258;
  }
  
  .project-card p {
    font-size: 22px;
    color: #555;
  }

  /* Media Queries */



@media (min-width: 769px) and (max-width: 1278px) {
  .projects-image {
    width: 100%;
    margin-bottom: 15px;
    height: 215px !important;
    object-fit: cover;
    border-radius: 20px;
  }
}
@media (max-width: 768px) {
  .projects-image {
    height: 176px !important;
}

}

  

