    .productPage-h1-p {
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: -75px;
  }

  .productPage-h1 {
    font-size: 90px;
    letter-spacing: -3.6px;
    font-weight: bold;
    color: #24262f;
    margin-bottom: -32px;
  }

  .productPage-h1 span{
    color: #522258;
  }

  .productPage-p {
    font-size: 24px;
    width: 760px;
    color: #4e525a;
  }

  .projects-page {
    width: 100%;
    position: relative;
    overflow-y: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .project-slide {
    width: 1200px;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0; */
    position: relative;
    margin: auto;
    border: 0px solid; 
    /* margin-top: 50px; */
  }
  
  .project-slide.active {
    opacity: 1; /* Make active slides visible */
    z-index: 1; /* Ensure active slides are on top */
    width: 1200px;
  }
  
  .project-content {
    width: 100%;
    /* max-width: 800px; */
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    margin: 40px 0;
    height: 850px;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .project-info {
    margin-top: 10px;
    width: 800px;
  }
  
  .project-info h2 {
    margin: 0 0 10px;
    font-size: 56px;
    color: #333;
    text-align: left;
  }
  
  .project-info p {
    margin: 0;
    font-size: 24px;
    color: #666;
    text-align: left;
    color: #4e525a;
  }
  